/*header style*/
header {
	text-align: center;
	padding: 20px;
	border-style: solid;
	font-size: 25px;
	color: #5d1725;
	background-color: #DAC79D;
	}
/*navigation menu style*/
nav {
	text-align: center;
	word-spacing: 30px;
	Padding: 10px;
	font-size: 25px;
}
/*background color*/
body {
	/*background-color: #c1c6c8;*/
	background-color: #ffffff;
	font-size: 20px;
}
/*footer style*/
footer {
	nav {
		font-size: 15px;
	}
}

/*gradient background color
body {
	background-image: linear-gradient(to bottom right, red, yellow);
}
*/